In [1]:
from data_loader import ticker,ticker_list

# 1) DataFrame으로만 쓸 때
df = ticker("AAPL")
df.head()

           ticker       close        high         low        open     volume
date
2020-12-11   AAPL  122.410004  122.760002  120.550003  122.430000   86939800
2020-12-14   AAPL  121.779999  123.349998  121.540001  122.599998   79184500
2020-12-15   AAPL  127.879997  127.900002  124.129997  124.339996  157243700
2020-12-16   AAPL  127.809998  128.369995  126.559998  127.410004   98208600
2020-12-17   AAPL  128.699997  129.580002  128.039993  128.899994   94359800

In [2]:
ticker_list()

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'AIG',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK-B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DD',
 'DE',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'EXC',
 'F',
 'FDX',
 'FOX',
 'FOXA',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'INTU',
 'JNJ',
 'JPM',
 'KHC',
 'KMI',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WFC',
 'WMT',
 'XOM']